@charset "utf-8";
/* CSS Document */
body{
	font-family:'AvenirNext-Medium', Arial;
	font-size: 14px;
	text-align: justify;
	padding:20px;
	margin:0;
}
@font-face {
	font-family: AvenirNext-Medium;
	src: url("../fonts/AvenirNext-Medium.ttf")
}
@font-face {
	font-family: AvenirNext-Bold;
	src: url("../fonts/AvenirNext-Bold.ttf")
}
.para a {
	color: #94751b
}
.para {
	line-height: 17px;
	padding: 0 0 10px;
	margin: 0px;
	color: #898989;
	font-family:'AvenirNext-Medium', Arial;
	font-size: 14px;
	text-align: justify;
}
.para:first-letter{
}
.paratitle {
	line-height: 20px;
	padding: 0px;
	margin: 0px;
	color: #555555;
	font-family:'AvenirNext-Bold', Arial;
	font-size: 16px;
	text-align:left
}
.paratitle:first-letter{
}
h1, h2, h3, h4, h5, h6{ font-family:'AvenirNext-Bold', Arial; font-size:18px; color:#555555; padding-bottom:5px !important; font-weight:normal; margin:0;}
h2.paratitle{ font-size:14px;}
ul, li{ list-style:disc outside none; padding-left:5px; margin-left:15px;}
ul {padding-bottom:10px !important; display:block;}
ul li{text-align:left;}
ul li:first-letter, h1.paratitle, h2.paratitle, h3:first-letter, h4:first-letter, h5:first-letter, h6:first-letter{
}
ul.mylistItem, li{ list-style:none outside none; padding:0; margin:0;}
ul.mylistItem li{ width:90%; padding:10px 0; border-bottom:1px solid #d7d7d7; padding-right:10%; background:url(images/arrow.png) 96% center no-repeat;}