﻿@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
.para {
	line-height: 18px;
	font-size: 15px;
}
.paratitle {
	line-height: 22px;
	font-size: 17px;
}
}
 @media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
.para {
	line-height: 20px;
	font-size: 17px;
}
.paratitle {
	line-height: 24px;
	font-size: 20px;
}
}
